[data-component='Home'] {
  & {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  #nav-container {
    width: 100%;
    height: 64px;
    border: 1px solid blue;
  }

  .icon-btn {
    font-size: 24px;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto 5px;

    &.reload:hover {
      transform: rotate(360deg);
    }

    &:active {
      transform: scale(0.91);
    }
  }

  .main {
    width: 100%;
    // height: calc(100% - 64px);
    height: calc(100% - 32px - 64px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .modules-wrapper {
      min-width: calc(100% - 128px);
      max-width: calc(100% - 48px);
      flex: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      #webview-container {
        padding: 3px 5px 0;
        width: 100%;
        overflow: hidden;
        height: calc(100% - 48px);
        flex: auto;
      }
    }
  }

  #fullscreen-container {
    width: 100vw;
    height: calc(100vh - 32px);
    margin-top: 32px;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    display: none;
  }
}
